<div class="content">
    <div ng-controller="myController">
        <!--   <span>{{name}}</span>
           <ul>
               <li ng-repeat="ninja in ninjas">{{ninja | uppercase}}</li>
           </ul>
        -->   <label for="filter">Filter</label>
        <input id="filter" ng-model="search" type="text">

        <button ng-click="order='name'">order by name</button>
        <button ng-click="order='belt'">order by Belt</button>
        <ul class="Animate">
            <li ng-repeat="ninja in ninjasObj|orderBy:order | filter:search" ng-show="ninja.available">
                <h3>{{ninja.name}}</h3>
                <div class="remove" ng-click="FilterArray(ninja.name)">x</div>
                <span class="belt" style="background:{{ninja.belt}}">{{ninja.belt}}</span>
            </li>
        </ul>

        <form ng-submit="addNinja()">
            <input type="text" placeholder="name" ng-model="newNinja.name">
            <input type="text" placeholder="belt" ng-model="newNinja.belt">
            <input type="submit" value="ADD">
        </form>
        <button ng-click="removeAll()">Remove All</button>
    </div>
</div>